extends layout

block container
    .sidebar

        h4  Book title
            h4= data.bookName

        .picture
            img(src= "./images/bookimage.jpg" alt="Image Title")

        .genre
            h5 Genres
            -console.log(genres);
            each val in genres
                if val.tagDescription
                    a(href= "http://localhost:8081/v1/api/genre/"+val.genreName title= val.tagDescription)= val.genreName+ " "
                else
                    a(href= "http://localhost:8081/v1/api/genre/"+val.genreName title= "No description")= val.genreName+ " "
            -
        .tags
            h5 Tags
            each val in tags
                a= val.tagName+ " "

        .rating
            h5 Rating
            each val in rating
                h6= "Rating( "+ val +" / 5, 0 votes )"
        .language
            h5 Language
            div= data.languageName
        .author
            h5 Author
            div= data.authorName
        .chapters
            h5 Book length
            div= data.bookChapter_count + " Chapters"
    .main-content
        h4 Description
        .bookdescription
            div= data.bookDescription

